---
layout: default.hbs
subject: Ceny spadaja z początkiem maja
nazwa_mailingu: mailingMAJ-2018/
adres_dev: ../img/

damian_imie: Damiana
damian_nazwisko: Fulara
damian_email:

hubert_imie: Hubert
hubet_nazwisko: Nowakowski
hubert_email: hubert@tayama.pl
hubert_tel1: +48 32 258 22 89 wew 31
hubert_tel2: +48 32 357 19 25

---
<span class="preheader">{{ subject }}</span>
<table class="main">
    <tr>
        <td class="wrapper">
            <table>
                <tr>
                    <td>
                        <a href="http://www.tayama.pl" target="_blank">
                            <img src="{{ adres_dev }}{{ nazwa_mailingu }}nowe_logo.png" width="474">
                        </a>

                        {{> divider }}

                        <a href="http://sklep.tayama.pl/oferta-handlowa,39?search=hdc" target="_blank">
                            <img src="{{ adres_dev }}{{ nazwa_mailingu }}tytul.gif" width="474">
                        </a>

                        {{> freespace }}

                        <h2>Cechy wspólne:</h2>
                        <ul>
                            <li>3 rodzaje obsługi rejestratorów: 4- 8- i 16-kanałowa w systemie AHD / TVI / CVBS / IP</li>
                            <li>Intuicyjny i przyjazny interfejs obsługi</li>
                            <li>Odtwarzanie 4 kanałów jednocześnie</li>
                            <li>Zdalna praca z urządzeń mobilnych – Android, iOS</li>
                            <li>Jednoczesna i niezależna obsługa do 10 użytkowników</li>
                        </ul>

                        {{> freespace }}

                        <h3 class="section-title"><strong>HDC-VR2004JV</strong></h3>
                        <h4 class="section-small-desc">Rejestrator 4-kanałowy</h4>
                        <a href="http://sklep.tayama.pl/rejestrator-ahd-4-kanalowy-1080p,25,11410,10094" target="_blank">
                            <img src="{{ adres_dev }}{{ nazwa_mailingu }}HDC_4kanalowy_przod.jpg" width="474">
                        </a>

                        {{> freespace }}

                        <h3 class="section-title"><strong>HDC-VR2008JV</strong></h3>
                        <h4 class="section-small-desc">Rejestrator 8-kanałowy</h4>
                        <a href="http://sklep.tayama.pl/rejestrator-ahd-8-kanalowy-1080p,25,11410,10095" target="_blank">
                            <img src="{{ adres_dev }}{{ nazwa_mailingu }}HDC_8kanalowy_przod.jpg" width="474">
                        </a>

                        {{> freespace }}

                        <h3 class="section-title"><strong>HDC-VR2016DV</strong></h3>
                        <h4 class="section-small-desc">Rejestrator 16-kanałowy</h4>
                        <a href="http://sklep.tayama.pl/rejestrator-ahd-16-kanalowy-1080p,25,11410,10096" target="_blank">
                            <img src="{{ adres_dev }}{{ nazwa_mailingu }}HDC_16kanalowy_przod.jpg" width="474">
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="wrapper-with10padding">
            <table>
                <tr>
                    <td>
                        <table width="100%" cellpadding="5" cellspacing="0" class="normal-table smaller-text">
                            <tr>
                                <td align="left">Model</td>
                                <td align="center">HDC-VR2004JV</td>
                                <td align="center">HDC-VR2008JV</td>
                                <td align="center">HDC-VR2016DV</td>
                            </tr>
                            <tr>
                                <td align="left">Rodzaj rejestratora</td>
                                <td align="center" colspan="3">AHD/TVI z opcją hybrydy</td>
                            </tr>
                            <tr>
                                <td align="left">Ilość kanałów</td>
                                <td align="center">4 + 1 x IP</td>
                                <td align="center">8 + 1 x IP</td>
                                <td align="center">16 + 4 x IP</td>
                            </tr>
                            <tr>
                                <td align="left">Rozdzielczość wyjścia video</td>
                                <td align="center" colspan="3">HDMI: (1920 x 1080), VGA: (1920 x 1080, 1280 x 1024)</td>
                            </tr>
                            <tr>
                                <td align="left">Rozdzielczości obsługiwanych kamer</td>
                                <td align="center">AHD: 1080p / 720p, IP: 1080p / 720p, Analog: 960H / D1</td>
                                <td align="center" colspan="2">AHD: 1080p / 720p, IP: 3MP / 1080p / 720p, Analog: 960H / D1</td>
                            </tr>
                            <tr>
                                <td align="left">Rozdzielczość zapisu i odtwarzania</td>
                                <td align="center" colspan="3">AHD: 1080p, IP: 1080p</td>
                            </tr>
                            <tr>
                                <td align="left">Obsługa systemów mobilnych</td>
                                <td align="center" colspan="3">Android, iOS</td>
                            </tr>
                            <tr>
                                <td align="left">Zdalny dostęp</td>
                                <td align="center" colspan="3">oprogramowanie CMS, przeglądarka IE, Firefox, Safari, aplikacja mobilna: SuperLivePlus</td>
                            </tr>
                            <tr>
                                <td align="left">Ilość użytkowników on-line</td>
                                <td align="center" colspan="3">maksymalnie 10</td>
                            </tr>
                            <tr>
                                <td align="left">Wejścia video</td>
                                <td align="center">4 x BNC</td>
                                <td align="center">8 x BNC</td>
                                <td align="center">16 x BNC</td>
                            </tr>
                            <tr>
                                <td align="left">Wyjścia video</td>
                                <td align="center" colspan="3">VGA, HDMI, BNC (SPOT)</td>
                            </tr>
                            <tr>
                                <td align="left">Zasilanie</td>
                                <td align="center" colspan="2">DC 12V / 2A</td>
                                <td align="center">DC 12V / 4A</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{> freespace }}
                        {{> button align="center" type='hdc' url='http://sklep.tayama.pl/oferta-handlowa,39?search=HDC-VR2004JV%2c+HDC-VR2008JV%2c+HDC-VR2016DV' title='ZOBACZ WIĘCEJ...' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{> divider }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>


    <tr class="pre-footer">
        <td class="wrapper">
            <table>
                <tr>
                    <td>
                        <table width="100%" cellpadding="5" cellspacing="0">
                            <tr>
                                <td>Bezpośredni kontakt</td>
                                <td><strong>{{ hubert_imie }} {{ hubet_nazwisko }}</strong></td>
                            </tr>
                            <tr>
                                <td>dotyczący oferty:</td>
                                <td>{{ hubert_tel1 }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>{{ hubert_tel2 }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="mailto:{{ hubert_email }}">{{ hubert_email }}</a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="http://www.tayama.pl" target="_blank">www.tayama.pl</a></td>
                            </tr>

                            <tr>
                                <td>Zapraszamy do naszej</td>
                                <td>TAYAMA spółka z ograniczoną</td>
                            </tr>
                            <tr>
                                <td>siedziby:</td>
                                <td>odpowiedzialnością sp. k.</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><strong>40-135 Katowice</strong></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><strong>ul. Słoneczna 4</strong></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>
<div class="footer">
    <table>
        <tr>
            <td class="align-center">
                <p>Niniejsza oferta cenowa skierowana jest dla instalatorów i dystrybutorów</p>

                <p>Wszystkie wymienione ceny są cenami <strong>netto</strong>.</p>

                <p>Oferta ważna do 25 kwietnia 2018 lub do wyczerpania zapasów
                </p>

                <p>Otrzymałeś/aś tę wiadomość e-mail, ponieważ jesteś zapisany do newslettera Tayama. Jeśli nie chcesz już otrzymywać wiadomości tego typu, odpowiedz na tą wiadomość wpisując w temacie lub treści wiadomości <strong style="color: #999999; font-size: 12px;">"NIE WYSYŁAJ"</strong>.</p>
            </td>
        </tr>
    </table>
</div>
